<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Your Title{% endblock %}</title>
        <!-- Include common CSS files -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    </head>

    <body class="bg-gray-100 font-sans leading-normal tracking-normal">
        <nav class="bg-blue-500 p-6">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between">
                    <div class="flex items-center">
                        <a href="/browse_events" class="text-white font-bold text-xl">Really Great Feedback</a>
                    </div>
                    <div class="flex items-center">
                        <ul class="flex space-x-4">

                            {% if request.session.user and request.session.user.email %}
                            <p class="text-sm p-3 rounded bg-white text-black">
                                {{ request.session.user.email }}
                            </p>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        {% if message %}
        <div id="dismissableAlert" class=" bg-blue-100 border-t-4 border-blue-500 rounded-b text-blue-900 px-4 py-3 shadow-md" role="alert">
            <p class="font-bold">{{ message }}</p>
        </div>
        <script>
         // Automatically dismiss the alert after 5 seconds
         setTimeout(function() {
             var dismissableAlert = document.getElementById("dismissableAlert");
             if (dismissableAlert) {
                 dismissableAlert.remove();
             }
         }, 5000); // 5000 milliseconds = 5 seconds
        </script>


        {% endif %}
        <div class="content">


            {% block content %}{% endblock %}
        </div>
        <footer class="bg-gray-300 text-white py-4">
            <div class="container mx-auto px-4">
                <a href="/contact" class="underline">Contact</a>
            </div>
        </footer>
    </body>

</html>
