<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Really Great Feedback{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/static/forklogo.ico">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/1eaa97093d.js" crossorigin="anonymous"></script>

    </head>

    <body class="bg-gray-100 font-sans leading-normal tracking-normal">
        <nav class="bg-blue-500 p-6">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between">
                    <div class="flex items-center">
                        <a href="/browse_events" class="text-white font-bold text-xl">Really Great Feedback</a>
                    </div>
                    <div class="flex items-center">
                        <ul class="flex space-x-4">

                            {% if request.session.user and request.session.user.email %}
                            <a href="/users/{{request.session.user.user_id}}">
                                <p class="text-sm p-3 rounded bg-white text-black">
                                    {{ request.session.user.email }}
                                </p>
                            </a>

                            {% else %}
                            <a href="/user/">
                                <p class="text-sm p-3 rounded bg-white text-black">
                                    Login
                                </p>
                            </a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        {% if message %}
        <div id="dismissableAlert" class=" bg-blue-100 border-t-4 border-blue-500 rounded-b text-blue-900 px-4 py-3 shadow-md" role="alert">
            <p class="font-bold">{{ message }}</p>
        </div>
        <script>
         setTimeout(function() {
             var dismissableAlert = document.getElementById("dismissableAlert");
             if (dismissableAlert) {
                 dismissableAlert.remove();
             }
         }, 5000); 
        </script>


        {% endif %}


        <div class="content pb-16 min-h-screen"> 
            {% block content %}{% endblock %}
        </div>

            </div>
            <footer class="bg-gray-300 text-white py-4 bottom-0 w-full">
                <div class="container mx-auto px-4">
                    <a href="/contact">Contact</a>
                    <a href="https://github.com/mmc102/gimmie_feedback">Github</a>
                </div>
            </footer>
    </body>

</html>
