{% extends "base.html" %}

{% block title %}{{event.name}}{% endblock %}

{% block content %}


<div class="container p-2">
    <h1 class="text-2xl font-bold text-gray-800 mb-4">{{ event.name }}</h1>
    <h1 class="text-xl font-bold text-gray-800 mb-4">  <i class="fas fa-map-marker-alt mr-2"></i>{{ event.location }}</h1>

    {% if presentations %}
    <div>
        {% for presentation in presentations %}
        {% include "presentation_listing_component.html" %}
        {% endfor %}
    </div>
    {% else %}
    <h1>No Presentations Scheduled!</h1>
    {% endif %}





    <a href="/edit_event/?event_id={{ event.id }}" class="mt-2 bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded inline-block"><i class="fas fa-edit mr-2"></i>Edit Event</a>


</div>

{% endblock %}

