
{% block content %}

<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

    {% for presentation_name, feedback_items in feedback.items() %}

    <div class="container mx-auto py-8">
        <h3 class="text-xl font-semibold mb-2">{{ presentation_name }}</h3>
        {% if feedback_items|length > 0 %}
        <div class="overflow-x-auto">
            <table class="w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Comment</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Would Use</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Would Invest</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Would Work</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for feedback_item in feedback_items %}
                    <tr>

                        <td class="px-6 py-4 whitespace-wrap text-sm text-gray-500" style="max-width: 300px;">{{ feedback_item.email }}</td>
                        <td class="px-6 py-4 whitespace-wrap text-sm text-gray-500" style="max-width: 300px;">{{ feedback_item.comment }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            <input type="checkbox" {% if feedback_item.would_use %}checked{% endif %} disabled>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            <input type="checkbox" {% if feedback_item.would_invest %}checked{% endif %} disabled>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            <input type="checkbox" {% if feedback_item.would_work %}checked{% endif %} disabled>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="text-gray-700">No feedback yet</p>
        {% endif %}

    </div>
    {% endfor %}

</div>

<script>
 document.getElementById('exportCsvButton').addEventListener('click', function() {
     exportToCsv('feedback_data.csv');
 });

 function exportToCsv(filename) {
     const table = document.querySelector('table');
     const headers = Array.from(table.querySelectorAll('thead th')).map(header => header.textContent.trim());
     const rows = Array.from(table.querySelectorAll('tbody tr'));
     const rowData = rows.map(row => Array.from(row.querySelectorAll('td')).map(cell => cell.textContent.trim()));
     const csvContent = [headers.join(','), ...rowData.map(row => row.join(','))].join('\n');
     const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });

     if (navigator.msSaveBlob) {
         navigator.msSaveBlob(blob, filename);
     } else {
         const link = document.createElement('a');
         if (link.download !== undefined) {
             // feature detection
             const url = URL.createObjectURL(blob);
             link.setAttribute('href', url);
             link.setAttribute('download', filename);
             link.style.visibility = 'hidden';
             document.body.appendChild(link);
             link.click();
             document.body.removeChild(link);
         }
     }
 }
</script>



{% endblock %}
