{% extends "base.html" %}

{% block title %}{{event.name}}{% endblock %}

{% block content %}


<div class="bg-white rounded-md sm:m-4 p-4">
    <div class="my-2">
        <h1 class="text-2xl font-bold text-gray-800 mb-4">{{ event.name }}</h1>
        <h1 class="text-xl font-bold text-gray-800 mb-4">  <i class="fas fa-map-marker-alt mr-2"></i>{{ event.location }}</h1>
        {% if event_owner == True %}
        <a href="/edit_event/?event_id={{ event.id }}" class="mt-2 bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded"><i class="fas fa-edit mr-2"></i>Edit Your Event</a>
        {% endif %}
    </div>

    {% if presentations %}
    <div class ="inline-block max-content">
        {% for presentation in presentations %}
        {% include "presentation_listing_component.html" %}
        {% endfor %}
    </div>
    {% else %}
    <h1>No Presentations Scheduled!</h1>
    {% endif %}

    

</div>


{% endblock %}

