{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div class="container mx-auto max-w-md p-8">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Create Event</h1>
    <form id="eventForm" method="POST">
        <div class="mb-4">
            <label for="eventName" class="block text-gray-700 text-sm font-bold mb-2">Event Name:</label>
            <input type="text" id="eventName" name="event_name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            <label for="date" class="block text-gray-700 text-sm font-bold mb-2">Date</label>
            <input type="date" id="date" name="date" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
            <input type="text" id="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            <label for="location" class="block text-gray-700 text-sm font-bold mb-2">Location:</label>
            <input type="text" id="location" name="location" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>



        </div>

        <button type="submit" class="block w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4">Create Event</button>
    </form>
</div>

{% endblock %}
