{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<form id="feedbackForm" method="POST" action="/presentations/{{ presentation.id }}/feedback" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    {% include "feedback_component.html" %}
</form>

<script>
 document.addEventListener("DOMContentLoaded", function() {
     var submitBtn = document.getElementById("submitBtn");
     var userExists = {{ user_id in request.session.user }}

     if (!userExists) {
         submitBtn.disabled = true;
         submitBtn.classList.add("bg-gray-400");
         submitBtn.classList.remove("bg-blue-500");

         submitBtn.classList.add("hover:bg-gray-400");
         submitBtn.classList.remove("hover:bg-blue-700");
     }
 });
</script>


{% endblock %}
