{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

{% include 'user_banner.html' %}

<div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">{{ event.name }}</h1>
    <h1 class="text-2xl font-bold text-gray-800 mb-4">Demos</h1>

    {% if presentations %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for presentation in presentations %}
        <div class="bg-white shadow-md rounded-md p-4">
            <h2 class="text-2xl font-bold text-gray-800">{{ presentation.name }}</h2>
            <p class="text-xl text-gray-600">{{ presentation.tagline }}</p>
            <p class="text-gray-600">{{ presentation.url }}</p>
            <p class="text-gray-600">{{ presentation.email }}</p>
            <button type="button" onclick="removePresentation(this)" class="mt-2 bg-blue-500 hover:bg-blue-800 text-white px-4 py-2 rounded">Review Product</button>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h1>No Presentations Scheduled!</h1>
    {% endif %}





    <form action="/event_unlock/{{ event.id }}" method="get">
        <button type="submit" class="mt-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Edit Event</button>
    </form>


</div>

{% endblock %}

