<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
</head>
<body>
<h1>Welcome to the Home Page</h1>
{% if user_id %}
<p>Hello, User {{ user_id }}</p>
{% else %}
<p>No user found. Please create a user.</p>
<form action="/user/" method="GET">
    <button type="submit">Create User</button>
</form>
{% endif %}


<h2>Presentations in Event</h2>
{% if event %}
    <li>
        <h3>{{ event.name }}</h3>
        <ul>
            {% for presentation in event.presentations %}
            <li><a href="/presentations/{{ presentation.id }}/{{ user_id }}">{{ presentation.title }}</a></li>
            {% endfor %}
            </ul>
            </li>
            {% else %}
            <p>No presentations found.</p>
            {% endif %}
  </body>
</html>
