{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}


<div class="container mx-auto max-w-md p-8">
    <h1 class="text-3xl font-bold text-gray-800 mt-8 mb-4">Really Great Feedback</h1>
    <h3 class="text-3xl font-bold text-gray-800 mt-8 mb-4">Empowering makers to get feedback on their demos</h3>
    {% if user_id %}
    <p class="text-lg text-gray-700">Hi, {{user_email}} 👋</p>
    {% else %}
    <p class="text-lg text-gray-700">No user found. Please create a user.</p>
    <form action="/user/" method="GET">
        <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create User</button>
    </form>
    {% endif %}

</div>
<div class="container mx-auto max-w-md p-8">
    <a href="/create_event" class="block w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 text-center">Create Event</a>
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Upcoming Events</h2>
    {% if events %}
    <ul>
        {% for event in events %}
        <li class="mb-2">

            <a href="/events/{{ event.id }}" class="text-blue-500 hover:text-blue-700">{{ event.name }} - {{ event.date }} </a>

        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-lg text-gray-700">No upcoming events found.</p>
    {% endif %}
</div>
{% endblock %}
