{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container flex flex-col items-center mx-auto px-8">
    <h3 class="text-2xl font-bold text-gray-800 mt-8 mb-4">
        BORING TECH FOR COLLECTING FEEDBACK ON ... ANYTHING
    </h3>


    <h3 class=" text-xl font-bold text-slate-600 mt-8 mb-4">
        Your audience sees
    </h3>

    <div class="max-w-lg">
        {% include "feedback_component.html" %}
    </div>


    <h3 class=" text-xl font-bold text-slate-600 mt-8 mb-4">
        Your presenters see
    </h3>
</div>


<div class="px-8 min-w-full">
    <div class="max-w-6xl mx-auto">
        {% include "event_feedback.html" %}
    </div>
</div>



<div class="container flex flex-col items-center mx-auto px-8">
    <h3 class=" text-xl font-bold text-slate-600 mt-8 mb-4">
        What happens
    </h3>


    <img src="static/meme.jpg" alt="a meme about feedback" style="max-height: 600px" class="m-4 rounded-lg">

    <h4 class="font-semibold text-sm mb-2">A meme from the incredible <a class="underline" href="https://twitter.com/iamjasonlevin"><em>@iamjasonlevin</em></a></h4>

    <div class="flex flex-row p-4 space-x-4">
        <a href="/create_event" class="block max-w-sm bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 text-center">
            <i class="fas fa-plus mr-2 "></i> <!-- Font Awesome plus icon -->
            Create
        </a>

        <a href="/browse_events" class="block max-w-sm bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 text-center">
            <i class="fas fa-search mr-2 "></i> <!-- Font Awesome search icon -->
            Browse
        </a>
    </div>


</div>

<div class="container mx-auto p-8">

    <div class="mt-8">
        <h3 class="text-2xl font-bold text-gray-800 mb-4">FAQ</h3>
        <div>
            <h4 class="font-semibold text-lg mb-2">Is this just google forms?</h4>

            <p>You can do everything this site does with google forms yes. The value prop here is a very minimal setup, a more professional presentation, automated post-event emails, and the ability to export to excel / google sheets.  </p>
        </div>
        <div class="mt-4">
            <h4 class="font-semibold text-lg mb-2">Can I change the form to add my own questions?</h4>
            <p>Yes, if you pay for the premium version, which is comming soon. :) </p>
        </div>
        <div class="mt-4">
            <h4 class="font-semibold text-lg mb-2">Why is my event in a moderation queue?</h4>
            <p>I personally review the events to make sure people are not using the site for spam, if you make the events private there is no moderation queue.</p>
        </div>
        <div class="mt-4">
            <h4 class="font-semibold text-lg mb-2">Can other people edit the event?</h4>
            <p>Yes, if you give them the password they should be able to edit the event (presentation lineup and such).</p>
        </div>
    </div>
</div>

</div>



{% endblock %}
