{% extends "base.html" %}

{% block title %}Password Page{% endblock %}

{% block content %}


<div class="container mx-auto py-8">

    <h1 class="text-3xl font-bold text-gray-800 mb-4">{{event.name}}</h1>

    <h1 class="text-3xl font-bold text-gray-800 mb-4">Edit Event</h1>
    <form id="loginForm" method="GET" action="/event_unlock">
        <input type="hidden" name="event_id" value="{{ event.id }}">

        <h1 class="text-3xl font-bold text-gray-800 mb-4">Password</h1>
        <input type="text" name="password" required class="border border-gray-300 px-4 py-2 w-full" value="">

        <button type="submit" class="mt-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Validate</button>

    </form>
</div>


{% endblock %}
