<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Event Password</title>
        <!-- Include Tailwind CSS -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body class="bg-gray-100 font-sans leading-normal tracking-normal">
        <div class="container mx-auto py-8">

            <h1 class="text-3xl font-bold text-gray-800 mb-4">{{event.name}}</h1>

            <h1 class="text-3xl font-bold text-gray-800 mb-4">Edit Event</h1>
            <form id="loginForm" method="GET" action="/event_unlock">
                <input type="hidden" name="event_id" value="{{ event.id }}">

                <h1 class="text-3xl font-bold text-gray-800 mb-4">Password</h1>
                <input type="text" name="password" required class="border border-gray-300 px-4 py-2 w-full" value="">

                <button type="submit" class="mt-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Validate</button>

            </form>
        </div>
    </body>
</html>
