
{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}


<div class="container mx-auto p-8">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Upcoming Events</h2>
    {% if events %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-4">
        {% for event in events %}
        <a href="/events/{{ event.id }}" class="block">
            <div class="bg-white shadow-md rounded-md p-4 hover:bg-blue-100 transition duration-300">
                <p class="font-semibold">
                    {{ event.name }}
                </p>
                <p class="font-semibold">
                    <i class="fas fa-map-marker-alt mr-2"></i>{{ event.location }}
                </p>
                <p class="text-gray-600 mt-2">
                    <i class="fas fa-calendar-day mr-2"></i>{{ event.date }}
                </p>

            </div>
        </a>
        {% endfor %}
    </div>


    {% else %}
    <p class="text-lg text-gray-700">No upcoming events found.</p>
    {% endif %}

    <div class="container mx-auto p-8">
        <a href="/create_event" class="block max-w-sm bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 text-center">Create Event</a>
    </div>
</div>


{% endblock %}
