{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}




<div class="container mx-auto py-8">

    <h1 class="text-3xl font-bold text-gray-800 mb-4">{{event.name}}</h1>
    <h1 class="text-2xl font-bold text-gray-800 mb-4">{{event.location}}</h1>
    <h1 class="text-2xl font-bold text-gray-800 mb-4">{{event.date}}</h1>


    <h1 class="text-3xl font-bold text-gray-800 mb-4">Add Presenters</h1>

    <form id="presentationForm" method="POST" action="/create_presentations">
        <input type="hidden" name="event_id" value="{{ event.id }}">
        <table class="w-full border-collapse border border-gray-200">
            <thead>
                <tr class="bg-gray-100">
                    <th></th>
                    <th class="px-4 py-2">Product Name</th>
                    <th class="px-4 py-2">Tagline</th>
                    <th class="px-4 py-2">Outreach Email</th>
                    <th class="px-4 py-2">URL</th>
                    <th class="px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbody id="presentationTable">
                {% if presentations %}
                {% for presentation in presentations %}
                <tr class="presentation">
                    <td class="px-4 py-2"><input type="hidden" name="presentation_ids" class="border border-gray-300 px-4 py-2 w-full" value="{{ presentation.id }}"></td>
                    <td class="px-4 py-2"><input type="text" name="names" required class="border border-gray-300 px-4 py-2 w-full" value="{{ presentation.name }}"></td>
                    <td class="px-4 py-2"><input type="text" name="taglines" required class="border border-gray-300 px-4 py-2 w-full" value="{{ presentation.tagline }}"></td>
                    <td class="px-4 py-2"><input type="email" name="emails" required class="border border-gray-300 px-4 py-2 w-full" value="{{ presentation.email }}"></td>
                    <td class="px-4 py-2"><input type="url" name="urls" required class="border border-gray-300 px-4 py-2 w-full" value="{{ presentation.url }}"></td>
                    <td class="px-4 py-2"><button type="button" onclick="removePresentation(this)" class="bg-red-500 text-white px-4 py-2 rounded">Remove</button></td>
                </tr>

                {% endfor %}

                {% else %}
                <tr class="presentation">


                    <td class="px-4 py-2"><input type="hidden" name="presentation_ids" class="border border-gray-300 px-4 py-2 w-full" value=""></td>
                    <td class="px-4 py-2"><input type="text" name="names" required class="border border-gray-300 px-4 py-2 w-full" value=""></td>
                    <td class="px-4 py-2"><input type="text" name="taglines" required class="border border-gray-300 px-4 py-2 w-full" value=""></td>
                    <td class="px-4 py-2"><input type="email" name="emails" required class="border border-gray-300 px-4 py-2 w-full" value=""></td>
                    <td class="px-4 py-2"><input type="url" name="urls" required class="border border-gray-300 px-4 py-2 w-full" value=""></td>
                    <td class="px-4 py-2"><button type="button" onclick="removePresentation(this)" class="bg-red-500 text-white px-4 py-2 rounded">Remove</button></td>
                </tr>

                {% endif %}


            </tbody>
        </table>

        <button type="button" onclick="addPresentation()" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add Presentation</button>
        <button type="submit" class="mt-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Save Changes</button>

    </form>
</div>

<script>
 function addPresentation() {
     const presentationTable = document.querySelector("#presentationTable");
     const newPresentationRow = document.querySelector(".presentation").cloneNode(true);

     const inputs = newPresentationRow.querySelectorAll("input");
     inputs.forEach(input => {
         input.value = "";
     });

     presentationTable.appendChild(newPresentationRow);
 }

 function removePresentation(button) {
     const row = button.closest("tr");
     row.remove();
 }
</script>

{% endblock %}
