{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}


<div class="container mx-auto max-w-md p-8">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Create User</h1>
    <form id="userForm" method="POST" class="space-y-4"  action="/create_user/">
        <div>
            <input type="hidden" id="original_referer" name="original_referer" value="{{original_referer}}">
            <label for="email" class="block text-gray-700">Email Address:</label>
            <input type="email" id="email" name="email" required
                   class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500">
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="canEmail" name="can_email" value="true" class="mr-2">
            <label for="canEmail" class="text-gray-700">Share email address with presenters</label>
        </div>
        <div class="flex items-center">
            <input type="checkbox" id="newsletter" name="newsletter" value="false" class="mr-2">
            <label for="newsletter" class="text-gray-700">Get occasional emails from LLammas (I will always try to include a meme)</label>
        </div>
        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Create</button>

        <p class="text-gray-700">No Password? Correct, the account is ephemeral. If you create an event you will be asked to add a password</p>
    </form>

</div>
    </body>
</html>

{% endblock %}
